
body {
	background-color: #333;
}
.row {
	color:#efefef;
}
.mobile-image {
	width: 100%
}
img {
	width: 100%
}

.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}
.col-xs-12 p {
	padding-left: 10px;
	padding-right: 10px;
}
.centerBtn {
	text-align: center;
}
.mobile-story-title {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFF;
	background-color: #333;
	text-shadow: 2px 2px 0px #555555;
	text-transform: capitalize;
	font-family: 'Lato', sans-serif;
}
.mobile-story-asithandile {
	border-bottom-width: 3px;
    border-color: #ADADAD;
}
.mobile-story-zukiswa {
	border-bottom-width: 3px;
    border-color: #ADADAD;
}
.explore-pre-story {
	border-bottom-width: 3px;
    border-color: #ADADAD;
}
.explore-post-story {
	border-bottom-width: 3px;
    border-color: #ADADAD;
}
#asithandile h2, #zukiswa h2 {
	text-shadow: 2px 2px 0px #555555;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

#top-link  {
	display:none; 
	position:fixed; 
	left:50%; 
	margin-left:200px; 
	bottom:2px; 
	font-weight:bold; 
	text-decoration:none; 
	padding:10px; 
	opacity:1;
	z-index: 9000;
}
#top-link img {
	background-color: #eee;
    padding: 5px;
    border-radius: 50px;
}


