@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


      html, body {
        height: 100%;
        margin: 0;
        font-family: 'Open Sans', sans;
      }
      #map {
        width: 100%;
        height: 60%;
        padding: 0;
        margin: 0;
      }
      #dash {
        margin: 25px 0;
        width: 400px;
      }
      button {
        margin-right: 10px;
        background: transparent;
      }
      h1 {
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 4em;
      }

      /* Basemap toggle menu */
      #selector{
        position: absolute;
        top: 20px;
        left: 50px;
        z-index: 9000;
      }

      #layer-select{
        position: absolute;
        top: 20px;
        right: 50px;
        z-index: 9000;
      }

      .btn {
        font-family: 'Open Sans';
        font-size: 13px;
      }

      div.cartodb-legend {
        box-shadow: none;
        border: 1px solid #ccc;
        right: 50px;

      }

      div.cartodb-legend ul li, div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
        font-family: 'Open Sans';
        font-size: 12px;
        font-weight: 400;
        text-transform: none;
        color: #333;
      }

      div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
        line-height: 6px;
      }

      .category {
        margin-bottom: 0px;
      }

      #footer {
        background-color: #EFEFEF;
        margin-top: 10px;
      }

      .row {
        margin-left: 0;
        margin-right: 0;
      }