@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
a {
  color: #63AEEF;
}
a:hover {
  color: #63AEEF;  
}
#map {
    height: 100%;
    padding: 0;
    margin: 0;
}
#dash {
    margin: 25px 0;
    width: 400px;
}
button {
    margin-right: 10px;
    background: transparent;
}

.col-basic-info {
    background-color: #333;
    color: #fff;
}

#dashboard {
    background-color: #efefef;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
    font-weight: bold;
}

h3 {
    font-size: 1.3em;
}

.tooltip-name {
    /*background-color: #6EB3F0;*/ /* blue */
    background-color: #FC4E2A; /* orange */
    color: #efefef;
    border: 1px solid #efefef;
}

/* Basemap toggle menu */
.basemap-select {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 9000;
}

#layer-select {
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 9000;
}

#layer-select-mobile {
    text-align: center;
    padding-left: 0;
}

#layer-select-tiny {
    padding-left: 0;
    margin-bottom: 5px;
}

.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    margin-top: 5px;
    border-radius: 0px;    
}

.btn-block {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    margin-top: 0;
}

.category {
    margin-bottom: 0px;
}

#footer {
    background-color: #333;
    color: #fff;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.cartodb-logo {
    visibility: hidden;
}

.leaflet-bar {
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 0;
}

.leaflet-bar a:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.leaflet-bar a:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

h4 {
    font-weight: bold;
    margin-top: 20px;
}

.intro-text {
    text-align: center;
    background-color: #333;
    color: #fff;
}

.intro-text p {
    text-align: justify;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    padding: 10px;
}

/* Sublayer Contextual Information Display */

#infoDisplay {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #fff;
}

div.cartodb-legend {
    font-family: 'Open Sans', sans-serif;
    border-radius:0px;
}

#infoDisplay h1 {
    text-align: center;
}

#infoDisplay h3, p {
    text-align: justify;
}

#infoDisplay h3 {
    font-weight: bold;
}

#infoDisplay p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
}

#desktop-legend > div.cartodb-legend ul li, div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
   color: #333;
}

#pocket_name {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}


#desktop-legend > div.cartodb-legend {
    box-shadow: none;
    border: 1px solid #ccc;
    right: 30px;
    padding-top: 8px;
    padding-bottom: 10px;
}

#desktop-legend > div.cartodb-legend ul li, div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    color: #333;
}

#desktop-legend > div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
    line-height: 6px;
}

#mobile-legend > div.cartodb-legend {
    box-shadow: none;
    border: 0px solid #ccc;
    position: static;
}

#mobile-legend > div.cartodb-legend ul li, div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    color: #333;
}

#mobile-legend > div.cartodb-legend.category ul li, div.cartodb-legend.color ul li, div.cartodb-legend.custom ul li {
    line-height: 6px;
}

.legend-title {
    font-family: 'Open Sans', sans-serif;
    margin-top: -5px;
}

#logos {
    padding-top: 30px;
    background-color:#f5f5f5;}

#logos img {
    max-height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logos .col-md-2 {
    height: 130px;
    position: relative;
}

#logos .col-sm-6 {
    margin-bottom: 30px;
}

/* Sublayer Contextual Information Display */

#infoDisplay {
    font-family: 'Lato', sans-serif;
    color: #333;
    background-color: #fff;
}
#infoDisplay h3, p {
    text-align: justify;
}
#infoDisplay h3 {
    font-weight: bold;
}

.btn-default.active {
    color: #FFF;
    background-color: #333;
    border-color: #333;
}

.btn:active {
    color: #FFF;
    background-color: #333;
    border-color: #333;
}

.col-basic-info {
    padding-top: 1px;
    padding-bottom: 10px;
}

div.cartodb-legend.density li.graph {
    border: 0 solid transparent;
    border-radius: 0;
}

div.cartodb-legend.custom ul li .bullet {
    margin: -2px 5px 0 0;
    width: 10px;
    height: 10px;
    border-radius: 0px;
    border: 0 solid transparent;
}

.bullet-box {
    width: 50px;
    height: 22px;
    background-color: #333;
    float: left;
    margin-right: 5px;
}

.click-layer-large {
    border: 3px solid #333;
    border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    right:463px;
    top: 9px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;     
    opacity: 0.0;
    pointer-events: none;
}

.click-layer-mobile {
    border: 3px solid #333;
    border-radius: 30px;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 50%;
    margin-top: 9px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 1s ease-out;
    -moz-animation-iteration-count: infinite;     
    opacity: 0.0;
    pointer-events: none;
}

#click-layer {
    position: absolute;
    right:440px;
    top:42px;
    -webkit-animation: pulsate 2s cubic-bezier(1, -0.02, 0.1, 1);
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 2s cubic-bezier(1, -0.02, 0.1, 1);
    -moz-animation-iteration-count: infinite;     
    opacity: 0.0;
    pointer-events: none;
    z-index: 9001;
}

#click-pocket {
    position: absolute;
    right:50%;
    top:50%;
    -webkit-animation: pulsate 2s cubic-bezier(1, -0.02, 0.1, 1);
    -webkit-animation-iteration-count: infinite;
    -moz-animation: pulsate 2s cubic-bezier(1, -0.02, 0.1, 1);
    -moz-animation-iteration-count: infinite;     
    opacity: 0.0;
    pointer-events: none;
    z-index: 9001;
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.96, 0.96); opacity: 1.0;}
    50% {-webkit-transform: scale(1, 1); opacity: 1.0;}
    100% {-webkit-transform: scale(0.96, 0.96); opacity: 1.0;}
}

@-moz-keyframes pulsate {
    0% {-moz-transform: scale(0.96, 0.96); opacity: 1.0;}
    50% {-moz-transform: scale(1, 1); opacity: 1.0;}
    100% {-moz-transform: scale(0.96, 0.96); opacity: 1.0;}
}

.arrow-down {
  width: 10; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #333;
  position: absolute;
  left:50%;
  bottom:10%;
  z-index: 9000;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    100% { transform: translateY(0); }
    0% { transform: translateY(-20px); }
}

@keyframes mover {
    100% { transform: translateY(0); }
    0% { transform: translateY(-20px); }
}

.fade-out {
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
     opacity: 0;
}

h3 {
  text-transform: uppercase;
}

.disclosure h1 {
    text-align: center;
}

.disclosure h3, p {
    text-align: justify;
}

.disclosure h3 {
    font-weight: bold;
}

.disclosure p {
    font-family: 'Open Sans', sans-serif;
}

#toilet_chart {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.col-toilets {
    background-color: #EFEFEF;
}

.leg-toi-text {
    color: #333;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.tt-small {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9000;
    margin: 0;
}

.back-to-map {
    border: 0 solid transparent;
}

#storyboard {
    background-color: #FFF;
}

#start-overlay {
    width: 100%;
    height: 100%;
    z-index: 9002;
    background-color: #FFF;
}
